<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>com.servlet.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>com.servlet.register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgot_pass</servlet-name>
        <servlet-class>com.servlet.forgot_pass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addproj</servlet-name>
        <servlet-class>com.servlet.addproj</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>acct_update</servlet-name>
        <servlet-class>com.servlet.acct_update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_adduser</servlet-name>
        <servlet-class>com.servlet.admin_adduser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_updateuser</servlet-name>
        <servlet-class>com.servlet.admin_updateuser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgot_pass</servlet-name>
        <url-pattern>/forgot_pass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addproj</servlet-name>
        <url-pattern>/addproj</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>acct_update</servlet-name>
        <url-pattern>/acct_update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_adduser</servlet-name>
        <url-pattern>/admin_adduser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_updateuser</servlet-name>
        <url-pattern>/admin_updateuser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
